html{
  overflow-x: hidden;
  font-size:13px;
  font-family:"Open Sans",Verdana,"DejaVu Sans","Geneva CY",sans-serif;
}

.sqs-block{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

body{
  overflow-x: hidden;
}

.row{
  padding: 25px;
}

.title-black {
  color: black;
}

.title-white{
  color: white;
}

.carousel-caption{
 padding-bottom:40px;
}

.carousel-caption > button{
  font-weight:bold;
  background-color:#329fff;
  border:0px;
  width:150px;
  height:45px;
  border-radius:5px;
}

.block-nav{
  text-align:center;
}

.nav-solution{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-bottom:15px;
  padding:15px;
}

.nav-solution:hover{
  box-shadow :0 5px 15px rgba(0,0,0,0.3);
}

.nav-solution > i{
  font-size:50px;
}
  
.col-solution{
      display:flex;
}

.certified-partner > .col-md-8 > .col-md-4 {
  margin-top: 25px;
}

.left-side{
  text-align: right;
}

.right-side{
  text-align: left;
}

.product-title > img{
  display:inline-block !important;
}

.heading-certification > h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner-front > h2 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 40px;
}

.banner-front > img {
  max-width: 700px;
}

.banner-front > button {
  border: 3px solid white;
  background-color: transparent;
  margin-top: 20px;
  border-radius: 20px;
}

.banner-front > button > p {
  margin: 0px;
}

.meet-the-team > .col-md-10 > .col-md-8 > h3{
  text-transform: uppercase;
  margin:0px;
  padding: 0px;
}

.meet-the-team-row > .col-md-8 > h3 {
 text-transform: uppercase;
}

.meet-the-team-row{
 box-shadow: 0 1px 2px rgba(0,0,0,0.15);
 padding: 0 20px;
}

.meet-the-team-row:hover{
box-shadow :0 5px 15px rgba(0,0,0,0.3);
}

.our-certification{
    padding: 0px;
    margin: 0 40px;
}

.heading-certification{
  background-color: #ebf0f5;
  padding: 4px;
}

.heading-certification > h3{
  color:black;
}

.product-title > span{
  color: #1e88e5;
  font-weight: bold;
  font-size: 18px;
}

.product-description{
  font-size: 18px;
  text-align:justify;
  font-weight: 400;
}

.content-certification{
  padding: 15px;
  text-align: left;
  background-color: white;
}

.our-certification > .col-md-12 > .col-md-4{
  padding: 25px;
}

.testimoni-client > .col-md-10 > .col-md-4{

padding: 20px;
}

.testimoni{
 background-color: white;
}

.testimoni-content > .col-md-12 {
  display: flex;
  margin-left: 2%;
}

.testimoni-content > .col-md-12 > .col-md-4 {
  background-color: white;
  padding: 0 20px;
  width: 30%;
  margin: 0 1%;
}


#myCarouselTestimoni > .left > .glyphicon-chevron-left {
  left: 0;
}

#myCarouselTestimoni > .right > .glyphicon-chevron-right {
  right: 0;
}


.header-testimoni{
  padding: 30px 0;
  border-bottom: 1px solid #ddd;
}

.body-testimony{
 padding: 20px;
 text-align:left;
}

.content-photo > .col-md-8 > h3{
  text-transform: uppercase;
}

.body-testimony > .name{
  display: inline-block;
  text-align: left;
  margin-bottom: 25px;
}

.body-testimony > .name > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 25px;
}

.body-testimony > .name > .client-profile{
  display: inline-block;
  padding-top: 20px;
}

.body-testimony > .name > .client-profile > h5{
  font-weight: bold;
  font-size: 18px;
}

.testimoni-content > .col-md-10 {
  display: flex;
  padding: 2%;
}

.testimoni-content > .col-md-10 > .col-md-4 {
  display: flex;
  background-color: white;
  width: 32%;
  margin: 1%;
}

.testimoni-field{
font-size: 18px;
font-weight: 400;
text-align: justify;
}

.name > h5 {
display: inline-block;
font-size: 18px;
font-weight: bold;
margin-left: 10px;
}

.corosel-content > .carousel-control {
    background-image: none;
}

.carousel-indicators.content {
    position: relative;
    bottom: 0px;
}

.carousel-indicators.content > li {
  border: 1px solid #ddd;
}

.carousel-indicators.content .active {
  background-color: black;
}


.content-courosel.absolute > .col-md-10 > img {
  width: 160px;
  margin: 20px;
} 

.content-courosel.absolute > .col-md-12 {
  height: 160px;
  margin-top: 10px;
} 

.nav-team{
 box-shadow: 0 1px 2px rgba(0,0,0,0.15);
 margin: 20px 0;
 position: relative;
}

.nav-team:hover{
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }

.title-team{
  position: absolute;
  max-width: 100px;
  background-color: #2C5197;
  color: white;
  top: 0px;
  padding-top: 30px;
}

.nav-team > .col-md-10 > img {
  border-radius: 50%;
  margin-bottom: 20px;
} 

.nav-team > .col-md-10 > h3,h4 {
  text-transform: uppercase;
} 

.toolbox > .col-md-10 > .col-md-6 > img {
  width: 100px;
  margin: 15px;
}

/* footer */
.footer-content{
  color:#fff;
}

.footer-content > .col-md-5 > img{
  width: 150px;
  display: inline-block;
  margin: 10px;
}

.nav-address-footer, .nav-contact-footer > div > h5,p{
 display: inline-block;
}

.nav-address-footer, .nav-contact-footer > div > p > a{
  text-decoration: none;
  color: #fff;
 }

.content-social-media > a {
  display: inline-block;
  margin:20px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}


/* footer End */

/* funding Client */
#client-funding > thead > tr  {
  color: white;
  background-color:#36304a;
  height:60px;
  text-align: center;
  font-weight: bold;
}

#client-funding > tbody > tr {
  height: 80px;
}

#client-funding > tbody > tr > td > p {
  margin: 0 10px;
  display:block;
}
#client-funding > tbody > tr:nth-child(even) {
  background-color: #f5f5f5;
}
/* funding Client End */

.nav-to-portfolio > a{
  text-decoration: none;
  color: white;
}

.nav-footer-funding > a{
  text-align: right;
  font-weight:bold;
}

/* event content */

.col-md-7 > h5,col-md-7 > h3 {
  color:#979fa4;
  font-weight: bold;
  text-decoration: none;

}

.col-md-7 > a {
  color:#979fa4;
  text-decoration: none;
}

.register-event > a{
  text-decoration:none;
}

.event-content > .col-md-10 {
  border-radius: 20px;
  padding: 15px;
}

.event-content > .col-md-10.nav-event:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.card-event > .col-md-5 {
  padding-top: 40px;
}
/* event content end */


/* career content */

.nav-career-title{
  text-align: center;
}

.nav-position-avail{
  background-color: #1e88e5;
}

.nav-position-avail > h4 {
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.nav-position{
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  background-color: rgba(255,255,255,0.3);
  border-radius: 150px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav-position > h5 {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
}

.nav-position-detail{
  text-align: right;
  display: block !important;
  right: 0px;
  font-size: 24px;
  font-weight: bold;
  right: 25px !important;
  position: absolute;
  right: 15px;
  color: white;
  top: 15px;
}

.full-block-position{
  width:100%;
}
/* career content end */

/* event page */
.nav-event > .col-md-5 > img {
  height: 150px;
  margin: 0px;
  margin-top: 50px;
}

.nav-event > .col-md-3 {
  color: black;
}

.nav-menu{
  padding: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav-menu > .form-group {
  margin-bottom: 0px;
}

.card-event{
  margin: 10px 0;
}

.register-event > button {
  padding-top: 10px;
  width: 150px;
  background-color: #337ab7;
  border: none;
  color: white;
  text-transform: uppercase;
  margin: 10px 0;
}

.register-event > button:hover {
  background-color: #329fff;
  
 
}

.register-event > button > a:hover{
 text-decoration: none;
 color: white;
}

.card-title-from{
  text-align: center;
  padding: 20px;

}

.card-title-from h3,i{
  display: inline-block;
}

.card-body-form {
  font-size: 16px;
  padding: 20px;
}

.card-body-form > div > p{
  width: 120px;

}

.card-body-form > div > i{
  font-style: normal;
}


.wrapper-form > div > a{
  position: absolute;
  top: 20px;
  text-decoration: none;
  color: black;
}

/* event page end */


/* new content */
.heading-nav-content > h4 {
  display: inline;
}

/* new content end */


/* customized portfolio end */
  @media only screen and (max-width: 1024px)  {
    .testimoni-content > .col-md-12 {
      display: block;
      margin-left: 0;
    }

    .testimoni-content > .col-md-12 > .col-md-4 {
      padding: 0 20px;
      width: 90%;
      margin: 0 5% 20px 5%;
    }

    .banner-front > h2 {
      font-size: 14px;
    }
    
    .banner-front > img {
      max-width: 300px;
    }

    .testimoni-content > .col-md-10 > .col-md-4 {
      display: block;
      background-color: white;
      width: 98%;
      margin: 1%;
    }
    .title-team{
      position: absolute;
      max-width: 100px;
      background-color: #2C5197;
      color: white;
      top: 30px;
      left: 0px; 
      padding-top:0px;
    }

    .testimoni-content > .col-md-10 > .col-md-4 {
      display: block;
      background-color: white;
    }

    .meet-the-team-row > .col-md-4  {
    text-align: center;
    }

    .col-solution{
      display:block;
    }

    .content-courosel.absolute > .col-md-10 > img {
     width: 100px;
     margin: 0 10px;
    } 

    .content-courosel.absolute > .col-md-10 {
      height: auto;
      margin-top: 10px;
    } 

    .nav-solution{
      margin-left:0px !important;
      margin-right:0px !important;
    }

    .toolbox > .col-md-10 > .col-md-6 {
      text-align: center;
      margin-bottom: 20px;
    }

    .our-certification{
      margin: 0px;
    }

    .full-content{
      padding: 0px;
    }

    .content-photo > .col-md-4 {
      text-align: center;
    }

    .content-photo > .col-md-4 {
      margin: 20px 0;
    }
  }


  @media only screen and (max-width: 1024px)  {
    .testimoni-content > .col-md-12 > .col-md-4 {
      width: 100%;
      margin: 0 0 20px 0;
    }

  }
