.content-header{
    padding: 10px;
    font-size: 16px;
}

.img-logo > img {
    padding: 20px;
}

.content-header > .img-logo{
    display: inline-block;
    width:200px;
}

.list-menu{
    display: inline-block;
    float: right;
    padding: 20px 0;

}

ul.list-menu > li {
    display: inline-block;
    list-style-type: none;
    width:150px;
}

ul.list-menu > li {
    display: inline-block;
    list-style-type: none;
    width:150px;
}

ul.list-menu > li > a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}


ul.list-menu > li > a:hover {
    text-decoration: none;
    color: #ffc427;
}