body{
    font-size: 20px !important;
    overflow: hidden;
}
.block-nav{
    text-align:center;
}

.nav-solution{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    margin-bottom:15px;

}
   
.nav-solution:hover{
    box-shadow :0 5px 15px rgba(0,0,0,0.3);
}
   
.nav-solution > i{
    font-size:50px;
}
   
@media (max-width: 1024px) {
    html {
        font-size: 32px !important;
    }
}
     
   
     