body{
 font-family: "Open Sans",Verdana,"DejaVu Sans","Geneva CY",sans-serif;
 font-size:16px;
}

.row{
    padding: 25px;
}

.general-content{
    padding: 20px 0;
}

/* Header Tiitle */
.general-content#header {
    text-align: center;
}

.header-button {
    display: inline-block;
    margin: 0 10px;
}
.header-button > a > button {
    border: none;
}

.banner-front > h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}

.header-button > a > button > p{
    border: none;
    text-align: center;
    border: none;
    width: 180px;
    border-radius: 3px;
    padding: 6px 20px;
    margin: 0px;
}
/*Header Title End*/

/* Tech Content */
.image-content{
    display: inline-block;
}

.image-nav{
    width: 160px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 30px;
    height: 160px;
    padding: 15px 0;
    margin: 10px;
    display: inline-block;
}

.image-content > .image-nav > img {
    margin: 10px;
    width: 70px;
}

.image-content > .image-nav > img#thirdLine {
    margin: 10px;
    width: 55px;
}

.image-content > .image-nav > .text-img {
    font-size: 11px;
    height: 40px;
    padding: 5px;
}
/* Tech Content End*/

/* Advisory Content */
#smallImg{
    width: 80px;
}
/* Advisory Content */

/*Portfolio Technical */
.title-content {
    position: relative;
    text-align: left;
    font-weight: bold;
}

.title-content > h3 {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.title-content > h4 {
    color: #283690;
    text-transform: uppercase;
    font-weight: bold;
}

.title-content > img {
    width: 200px;
    position: absolute;
    right: 0px;
    top: 0px;
    
}

.portfolio-content{
    height: 500px;
}

.body-content > .nav-right-content, .flat-nav-right-content {
    position: relative;
    padding: 0;
    height: 150px;
}

.body-content > .nav-right-content > h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.body-content > .flat-nav-right-content > h5 {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
}

.body-content > .nav-right-content > img{
    width: 100px;
    top: 50px;
    position: absolute;
    left: 0px;
}

.body-content > .nav-right-content > p {
    font-size: 12px;
    width: 60%;
    position: absolute;
    top: 30px;
    left: 120px;
    text-align: left;
}

.body-content > .flat-nav-right-content > img{
    width: 100px;
    position: absolute;
    top: 30px;
    width: 150px;
    left: 25%;
}

.body-content > .flat-nav-right-content > p {
    font-size: 12px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
    text-align: left;
}

.body-content-right {
    position: absolute;
    font-size: 12px;
    left: 65%;
    text-align: justify;
}

.body-content-right > .col-md-12 > h5.title{
    text-transform: uppercase;
    font-weight: bold;
}

.partial-circle-content {
    background-color: #ddd;
    position: absolute;
    top: 50px;
    right: 15px;
    height:310px;
    width: 400px;
    padding-top: 100px;
    padding-left: 100px;
    border-top-left-radius: 100%;
    z-index: -1;
    border-bottom-right-radius: 30px;
    padding-right: 15px;
}

.nav-text-content h4,i{
    font-size: 18px;
    display: inline-block;
    font-weight: bold;
}
/* Portfolio Technical End */

/* Portofolio New */
.heading-nav-content{
    text-align: left;
}
.heading-nav-content > h4{
    display: inline;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;

}

.heading-nav-content > h3 {
    font-weight: bold;
}

.heading-nav-content > img {
    position: absolute;
    top: 0;
    right: 0;
}

.straight-content > img {
    width: 100px;
    float: left;
}

.straight-content > p{
    float: right;
    width: 75%;
    padding: 30px;
    text-align: left;
}

.straight-content >h5, .row-content >h5, .dynamic-content > h5{
    text-transform: uppercase;
    font-weight: bold;
    color:rgb(89, 89, 89);
    text-align: left;
}

.dynamic-content {
    margin: 10px 0;
    font-size: 12px;
    text-align: left;
    padding: 0;
}

.row-content > img{
    width: 50%;
    margin-left:25%;
}

.circle-content{
    font-size: 12px;
    height: 300px;
    position: absolute;
    background-color: #ddd;
    z-index: -1;
    top: 50px;
    border-top-left-radius: 100%;
    width: 400px;
    padding: 150px 40px 0 40px;
    right: 0px;
    border-bottom-right-radius: 30px;
}




/* portfolio new end */
.text-normal { text-transform: none;}
   
@media (max-width: 1200px) {
    .row{
        padding: 0px;
    }
    /* Header Tiitle */
    .header-button {
        display: block;
        margin: 10px 0px;
    }
    /* Header Title End */

    /* Tech Content */
    .image-content > .image-nav > img {
        margin: 10px;
        width: 100px;
    }

    .image-nav{
        width: 120px;
        height: 120px;
        padding: 10px 0;
        margin: 10px 0px;
        display: inline-block;
    }
    
    .image-content > .image-nav > img {
        width: 42px;
    }

    .image-content > .image-nav > img#thirdLine {
        margin: 10px;
        width: 30px;
    }
    
    .image-content > .image-nav > .text-img {
        font-size: 10px;
        height: 30px;
    }
    /* Tech Content End */

    #smallImg{
        width: 50px;
    }

    /* Tech Portfolio Content */
    .title-content > img {
        top: 110px;
        left: 0px;
    }

    .title-content {
        padding-bottom: 50px;
    }

    .top-dynamic-content{
        padding: 0 5px;
    }
    
    /* Tech Portfolio */

    /* new portfolio element */
    .heading-nav-content > img{
        left: 15px;
        top: 130px;
    }

    .heading-nav-content{
        height: 180px;
    }
    /* new portfolio element end */
}

@media (max-width: 1000px) {
    .portfolio-content{
        height: 850px;
    }

   .body-content-right {
        left: 0%;
   }

   .partial-circle-content{
    top: -15px;
    left: 0px;
   }
}
@media (max-width: 768px) {
    .image-nav {
        width: 130px;
        height: 130px;
        padding: 10px 0;
        margin: 10px 0px;
    }

    .image-content > .image-nav > .text-img {
        font-size: 10px;
    }

    .image-content > .image-nav > img#thirdLine {
        margin: 8px;
        width: 30px;
    }

    .general-content > .row >.col-md-8 {
        text-align: center;
    } 

    .general-content > .row >.col-md-8 {
        margin-left: 10px;
    } 

    #smallImg{
        width: 50px;
    }

    /* new portfolio element */
    .heading-nav-content > img{
        left: 15px;
        top: 110px;
    }
    /* new portfolio element end */

} 

@media (max-width: 640px) {

}

   
     