body{
 font-family: "Open Sans",Verdana,"DejaVu Sans","Geneva CY",sans-serif;
 font-size:16px;
}

.row{
    padding: 25px;
}

.general-content{
    padding: 20px 0;
}

/* Header Tiitle */
.general-content#header {
    text-align: center;
}

.header-button {
    display: inline-block;
    margin: 0 10px;
}
.header-button > a > button {
    border: none;
}

.header-button > a > button > p{
    border: none;
    text-align: center;
    border: none;
    width: 180px;
    border-radius: 3px;
    padding: 6px 20px;
    margin: 0px;
}
/*Header Title End*/

/* Tech Content */
.image-content{
    display: inline-block;
}

.image-nav{
    width: 160px;
    text-align: center;
    border: 2px solid #ddd;
    border-radius: 30px;
    height: 160px;
    padding: 15px 0;
    margin: 10px;
    display: inline-block;
}

.image-content > .image-nav > img {
    margin: 10px;
    width: 70px;
}

.image-content > .image-nav > img#thirdLine {
    margin: 10px;
    width: 55px;
}

.image-content > .image-nav > .text-img {
    font-size: 11px;
    height: 40px;
    padding: 5px;
}
/* Tech Content End*/
   
@media (max-width: 1200px) {
    /* Header Tiitle */
    .header-button {
        display: block;
        margin: 10px 0px;
    }
    /* Header Title End */

    /* Tech Content */
    .image-content > .image-nav > img {
        margin: 10px;
        width: 100px;
    }

    .image-nav{
        width: 120px;
        height: 120px;
        padding: 10px 0;
        margin: 10px 0px;
        display: inline-block;
    }
    
    .image-content > .image-nav > img {
        width: 42px;
    }

    .image-content > .image-nav > img#thirdLine {
        margin: 10px;
        width: 30px;
    }
    
    .image-content > .image-nav > .text-img {
        font-size: 10px;
        height: 30px;
    }
    /* Tech Content End */
}
     
@media (max-width: 640px) {
    .image-nav{
        width: 110px;
        height: 110px;
        padding: 10px 0;
        margin: 10px 0px; 
    }

    .image-content > .image-nav > .text-img{
        font-size: 8px;
    }
}

   
     