<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="row display-tool" >
						<div class="col-md-6 advisory-container adv-left" >
							<div class="content-start">
								<div style="text-align: center;margin-top: 30px;color: #999;font-size: 50px;"><i class="fa fa-users" aria-hidden="true"></i></div>
								<h1 class="text-center">Advisory Solution</h1>
								<p>Industry-leading best-practices, company-specific optimizations and custom business insights to drive actionable performance. Click here to learn about how our Advisory Solution team can help you
								</p>
							</div>
						</div>
						<div class="col-md-6 advisory-container adv-right">
							<div class="content-start">
								<div style="text-align: center;margin-top: 30px;color: #999;font-size: 50px;"><i class="fa fa-wrench" aria-hidden="true"></i></div>
						<h1 class="text-center">Technical Solutions</h1>
						<p>Best-in-class audit, implementation and maintenance support of analytics software and databases. Click here to learn about our Technical Solution team can help you
</p>
					</div>
						</div>
					</div>
					<div class="badges" style="text-align:center;margin-top:50px;">
                        <a class="btn btn-outline btn-xl page-scroll" href="/services" >FIND OUT MORE</a>
                    </div>
				</div>
	</div>
</div>
<section id="toolbox" class="download bg-primary text-center" style="margin-top:60px">
	<div class="container-fluid">
	<div class="row">
				<div class="col-md-8 col-md-offset-2">
					
					
					<div class="content-start">
						<h1 class="text-center">Toolbox</h1>
						<div class="row" style="text-align:center;">
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/comscorenew.png" style="width:160px; height:24px;margin-top:40px"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/logo_lockup_analytics_icon_vertical_black_2x.png" style="width:160px; height:121px;"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/ga-360-suite.png" style="width:120px; height:120px;"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/optimize360new.png" style="width:100px; height:100px;margin-top:20px;"/></div>
						</div>
						<div class="row" style="margin-top:30px;text-align:center;">
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/bigquery-logo1.png" style="width:160px; height:84;"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/google-data-studio-logo.png" style="width:160px; height:107;"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/logo_AdobeAnalytics300-300x122.png" style="width:160px;height:65;margin-top:20px;"/></div>
							<div class="col-md-3"><img class="img-logo-toolbox" src="/img/salesforce-logo-635shadow.png?format=300w" style="width:160px; height:100px;"/></div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
