<section class="cta"> 
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div class="css-slider-wrapper">
  <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2">
  <input type="radio" name="slider" class="slide-radio3" id="slider_3">
  <input type="radio" name="slider" class="slide-radio4" id="slider_4">
  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>
    <label for="slider_3" class="page3"></label>
    <label for="slider_4" class="page4"></label>
  </div>
  <div class="next control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-circle-right"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-circle-right"></i></label>
  </div>
  <div class="previous control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-circle-left"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-circle-left"></i></label>
  </div>
  <div class="slider slide1">
    <div>
      <p>ILMUONE DATA has been a great partner to work with across multiple department<br>
including IT and Business Intelligence. Their Technical Team ensured an on-time, best practice
and customized implementation<br> of Enhanced Ecommerce
and other key features of Google Analytics.<br>

<br><br>

Hendrik Tio <br>
CEO - Bhinneka
</p>
     
  </div>
  <div class="slider slide2">
    <div>
         <p>ILMUONE DATA has helped us understand how we should approach our target market<br>
through online strategy planning and customizing our analytics platform<br> this allowed us to evaluate and optimise the effectiveness of different online marketing channels.<br>

<br><br>

Livia Joehana <br>
President Director - EYE
</p>
      </div>
  </div>
  <div class="slider slide3">
    <div>
        <p>ILMUONE DATA has been a great partner to validate the work that we are doing<br>
and at the same time provide valuable inputs to improve our performance<br> it gave us strong fundamentals to move forward, it is among of few agencies that has strong expertise in analytics<br>coupled with google business understanding.<br>

<br><br>

Hendra Tjanaka <br>
					Chief of Marketing and Sales - Ruma </p></div>
  </div>
  <div class="slider slide4">
    <div>
     <p>ILMUONE DATA has helped us improve our paid channels performance by identifying non-performing channels<br>
and optimizing each channels ROI.<br>

<br><br>

Adilla Diningsih <br>
					VP of Marketing - Sale stock </p> </div>
  </div>
	  </section>
