<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="content-start text-center">
                    <h1 class="section-heading">Helping great companies be great at digital</h1>             
                    <div class="badges" style="text-align:center;margin-top:50px;">
                        <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Our Clients</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
