
<section id="contact" class="contact bg-primary" style="background-color:#ffffff !important;">
    <div class="container">
               <a class="btn btn-outline btn-xl page-scroll" href="https://analytics3.typeform.com/to/joNZ7S" data-mode="1" target="_blank">Get in touch</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm_share',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script>
        
        <!-- <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li>
        </ul> -->
    </div>
</section>
<footer class="footer-homepage">
    <div class="container" style="
    margin-top: 50px;
">
        <div class="row" style="
    margin-bottom: 25px;
">
            <div class="col-md-6">
                <div style="text-align: left;margin-left: 10px;"><h3 style="
    /* margin-top: 0px; */
    margin: 0px;
">Contact Us</h3></div>
                  <form class="message-popup">
                    <div style="color:black;">
                      <input type="text" class="modal-input" placeholder="Name">
	                  <input type="text" class="modal-input" placeholder="e-Mail">
			    <input type="text" class="modal-input" placeholder="Position">
	                  <input type="text" class="modal-input" placeholder="Company">
			    <input type="text" class="modal-input" placeholder="Phone Number">
	                  <textarea class="modal-input" placeholder="Message"></textarea>
                      <button class="modal-button" style="float: left;color: white;border: 1px solid #ddd;">submit</button>
                    </div>
                 </form>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.853905088204!2d106.80624671431352!3d-6.226262795492924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1505b981b55%3A0x4112fe8f638508c2!2sEquity+Tower%2C+Jl.+Tulodong+Atas+2%2C+Senayan%2C+Kebayoran+Baru%2C+South+Jakarta+City%2C+Jakarta+12190%2C+Indonesia!5e1!3m2!1sen!2s!4v1501232432696" width="450px" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p>© 2017 by <a target="_blank" rel="nofollow" href="">Ilmuone data</a></p>
        </div>
    </div>
        
       
       
    </div>
</footer>
