<section id="quote" class="quote-content download bg-primary text-center" style="border:none;border-top:1px solid #ddd">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">What our clients say?</h2>
                <div class="col-md-3">
                  <img src="https://static1.squarespace.com/static/55669207e4b0783941de676d/t/57d1685bf7e0ab553891acf8/1464682390762/alvin-liong" />
                </div>
                <div class="col-md-12">
                <h3>ALVIN LIONG</h3>
                  <h3>CO-FOUNDER & CEO</h3>
                  <p>Alvin has utilized Analytics to drive Performance Marketing results at Ogilvy and Digitas for Fortune 100 and 500 clients, delivering ROI of 7x for e-commerce centric businesses ranging from hospitality to finance. He recently used these techniques to implement lean operations at an offline, traditional commodities business in Indonesia.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">What our clients say?</h2>
                <div class="col-md-3">
                  <img src="http://www.apmf.com/2016/files/people/thumbs/760x500_timo.jpg" />
                </div>
                <div class="col-md-12">
                  <h3>TIMO JOSTEN</h3>
                  <h3>CO-FOUNDER & DIRECTOR</h3>
                  <p>Timo worked at Google on client solutions and product development of Google Analytics to better serve the unique challenges faced by multi-national corporations based in APAC. He then co-founded a digital analytics consultancy in Singapore to help regional brands and large MNCs utilize data to develop actionable business insights. </p>
                </div>
            </div>
        </div>
    </div>
</section>
