    <section id="features" class="features" style="padding: 50px 0 0 0;">
        <div class="container">
            <div class="row">
             <div class="col-md-10 col-md-offset-1">
                
            <center class="advisory-container" style="padding:30px; margin-bottom:50px;">
                <h1 class="text-align-center" style="margin-bottom:25px;">Founders</h1>
         <div class="row" style="margin-bottom:25px;">
                <div class="col-md-3 text-center">
                  <img src="https://static1.squarespace.com/static/55669207e4b0783941de676d/t/57d1685bf7e0ab553891acf8/1464682390762/alvin-liong" style="width:214px; height:215px;"/>
                </div>
                <div class="col-md-8 text-justify" >
                <h3 style="margin-top:0px;">ALVIN LIONG</h3>
                  <h3>CO-FOUNDER & CEO</h3>
                  <p>Alvin has utilized Analytics to drive Performance Marketing results at Ogilvy and Digitas for Fortune 100 and 500 clients, delivering ROI of 7x for e-commerce centric businesses ranging from hospitality to finance. He recently used these techniques to implement lean operations at an offline, traditional commodities business in Indonesia.</p>
                </div>
        </div>
        <div class="row">
                <div class="col-md-3 text-center">
                  <img src="https://static1.squarespace.com/static/55669207e4b0783941de676d/t/57ce6b8620099e446292397e/1464682405248/timo-josten?format=300w" style="width:214px; height:213px;"/>
                </div>
                <div class="col-md-8 text-justify">
                  <h3 style="margin-top:0px;">TIMO JOSTEN</h3>
                  <h3>CO-FOUNDER & DIRECTOR</h3>
                  <p>Timo worked at Google on client solutions and product development of Google Analytics to better serve the unique challenges faced by multi-national corporations based in APAC. He then co-founded a digital analytics consultancy in Singapore to help regional brands and large MNCs utilize data to develop actionable business insights. </p>
                </div>
        </div>
            </center>
                </div>
            </div>
            </div>
    </section>
