
	<section class="cta slide-header" > 
		<div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading" style="text-align: center;">What our clients say?</h2>
               
            </div>
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div class="css-slider-wrapper">
  <input type="radio" name="slider" class="slide-radio1" checked id="slider_1">
  <input type="radio" name="slider" class="slide-radio2" id="slider_2">
  <div class="slider-pagination">
    <label for="slider_1" class="page1"></label>
    <label for="slider_2" class="page2"></label>

  </div>
  <div class="next control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-right" style="color:#ddd"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-right" style="color:#ddd"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-right" style="color:#ddd"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-right" style="color:#ddd"></i></label>
  </div>
  <div class="previous control">
    <label for="slider_1" class="numb1"><i class="fa fa-arrow-left" style="color:#ddd"></i></label>
    <label for="slider_2" class="numb2"><i class="fa fa-arrow-left" style="color:#ddd"></i></label>
    <label for="slider_3" class="numb3"><i class="fa fa-arrow-left" style="color:#ddd"></i></label>
    <label for="slider_4" class="numb4"><i class="fa fa-arrow-left" style="color:#ddd"></i></label>
  </div>
  <div class="slider slide1 slide-content-header" style="background-color:#f7f8fa;">
  <div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-start">
						<h1 style="text-align: center;">What our client say ?</h1>
						<div class="row">
							<div class="col-md-4">
								<div class="testimoni-client">
									<div class="client-pp"><img src="/img/jimmy_akili_owler_20160302_134449_original.jpg"/></div>
									<div class="client-testimonial"><p>“IlmuOne Data has been essential to our business maturity and product building. Their analytics product knowledge and optimisations advisory are among the best in the country.”</p></div>
									<div class="client-position"><h2>Jimmy Akili</h2><p>CEO Bobobobo</p></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimoni-client">
									<div class="client-pp"><img src="/img/nVR4IF0O.jpg"/></div>
									<div class="client-testimonial"><p>“IlmuOne Data customised our analytics platform and helped us evaluate and optimise the effectiveness of our various online marketing channels. We now have a better approach of planning our online strategy.”</p></div>
									<div class="client-position"><h2>Livia Joehana</h2><p>President Director, EYE</p></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimoni-client">
									<div class="client-pp"><img src="/img/AAEAAQAAAAAAAANPAAAAJDMzMjcwOGE2LWQxMmQtNDc3Yy1iYTBmLTlhMGExZTc2NGMxZg.jpg"/></div>
									<div class="client-testimonial"><p>“IlmuOne Data helped us a shrewder customer of digital and mobile marketing services. They provided a guiding light on how to navigate the scene and get more bang for our bucks.” </p></div>
									<div class="client-position"><h2>Lingga Madu</h2><p>CEO, Sale Stock</p></div>
								</div>
							</div>						</div>
					</div>
				</div>
			</div>
     
  </div>
  <div class="slider slide2 slide-content-header" style="background-color:#f7f8fa;">
	  <div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-start">
						<h1 style="text-align: center;">What our client say ?</h1>
						<div class="row">
						
							<div class="col-md-4 col-md-offset-2">
								<div class="testimoni-client">
									<div class="client-pp"><img src="/img/0eaa361.jpg"/></div>
									<div class="client-testimonial"><p>“ILMUONE DATA has been a great partner to validate the work that we are doing
and at the same time provide valuable inputs to improve our performance t gave us strong fundamentals to move forward, it is among of few agencies that has strong expertise in analytics oupled with google business understanding.”</p></div>
									<div class="client-position"><h2>Hendra Tjanaka </h2><p>Chief of Marketing and Sales - Ruma</p></div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="testimoni-client">
									<div class="client-pp"><img src="/img/35d6162.jpg"/></div>
									<div class="client-testimonial"><p>“ILMUONE DATA has helped us improve our paid channels performance by identifying non-performing channels
and optimizing each channels ROI.” </p></div>
									<div class="client-position"><h2>Adilla Diningsih</h2><p>VP of Marketing - Sale stock</p></div>
								</div>
							</div>						</div>
					</div>
				</div>
			</div>
    
      </div>
  </div>
  <div class="slider slide3 slide-content-header" style="background-color:#f7f8fa;">
    <div class=""><img class="img-testimoni" src="/img/jimmy_akili_owler_20160302_134449_original.jpg"></div>
    <div class="slide-content-testimoni">
        <p>ILMUONE DATA has been a great partner to validate the work that we are doing<br>
and at the same time provide valuable inputs to improve our performance<br> it gave us strong fundamentals to move forward, it is among of few agencies that has strong expertise in analytics<br>coupled with google business understanding.<br>

<br><br>

Hendra Tjanaka <br>
					Chief of Marketing and Sales - Ruma </p></div>
  </div>
  <div class="slider slide4 slide-content-header" style="background-color:#f7f8fa;">
        <div class=""><img class="img-testimoni" src="/img/jimmy_akili_owler_20160302_134449_original.jpg"></div>
    <div class="slide-content-testimoni">
     <p>ILMUONE DATA has helped us improve our paid channels performance by identifying non-performing channels<br>
and optimizing each channels ROI.<br>

<br><br>

Adilla Diningsih <br>
					VP of Marketing - Sale stock </p> </div>
  </div>
	  </section>
