<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="closeButton()" class="close">&times;</span>
    <h2 style="marginleft:10px;">Contact Us</h2>
    <div class="row">
    <div class="col-md-6">
      <form class="message-popup">
        <input type="text" class="modal-input" placeholder="Name">
	<input type="text" class="modal-input" placeholder="e-Mail">
	<textarea class="modal-input" placeholder="Message"></textarea>
        <button class="modal-button">submit</button>
      </form>
      <div style="margin:20px 0 0 10px">
	  <a>
	<img src="http://www.freeiconspng.com/uploads/--instagram-logo-2013--facebook-logo-png--twitter-logo-2013-png-23.png" style="width: 40px;height: 40px; margin:1px;"/></a>
	<a>
	<img src="http://www.freeiconspng.com/uploads/keywords-colors-icons-desktop-icons-style-simple-3.png" style="width: 40px;height: 40px; margin:1px;"/></a>
	<a>
	<img src="http://www.freeiconspng.com/uploads/--in-blow-to-crafty-brand-odes-instagram-adopts-minimalist-new-logo-16.jpg" style="width: 50px;height: 50px;margin:1px;"/></a>
	<a>
	<img src="http://www.freeiconspng.com/uploads/linkedin-icon-22.png" style="width: 40px;height: 40px;margin:1px;"/></a>
</div>
    </div>
    <div class="col-md-6">
      <div  style="width:400px;height:400px;">
	      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3418.853905088204!2d106.80624671431352!3d-6.226262795492924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1505b981b55%3A0x4112fe8f638508c2!2sEquity+Tower%2C+Jl.+Tulodong+Atas+2%2C+Senayan%2C+Kebayoran+Baru%2C+South+Jakarta+City%2C+Jakarta+12190%2C+Indonesia!5e1!3m2!1sen!2s!4v1501232432696" width="400px" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
</iframe>
       </div>

    </div>
  </div>
  </div>

</div>
