<section id="portfolio" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Just a few companies we are helped</h2>
                <p>Will you be the next?</p>
                <hr>
              
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="portfolio">
    <center>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.loreal.co.id/" class="portfolio-box">
                    <img src="http://i.imgur.com/TaiLEFi.png" style="width: 60%; height: 60%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                loreal
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="www.salestockindonesia.com" class="portfolio-box">
                    <img src="https://www.salestockindonesia.com/assets/images/logo-ss-34f2d4dd.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                salestock
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://maybelline.co.id/" class="portfolio-box">
                    <img src="http://i.imgur.com/92NKvay.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                maybelline
                            </div>
                        </div>
                    </div>
                </a>
            </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.alfacart.com/" class="portfolio-box">
                    <img src="http://www.alfacart.com//media/wysiwyg/mobile-apps/logo-alfacart_2x.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Alfacart
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.bhinneka.com/" class="portfolio-box">
                    <img src="http://www.bhinneka.com/images/others/identity-guidelines-bhinneka-com.png?d=201701061515" style="width: 75%; height: 75%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Bhinneka
                            </div>
                        </div>
                    </div>
                </a>
            </div>
                 <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="https://www.misteraladin.com/" class="portfolio-box">
                    <img src="http://i.imgur.com/nXGrmbD.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                               mister aladin
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.bobobobo.com/id/" class="portfolio-box">
                    <img src="http://i.imgur.com/eIC0GaU.jpg" style="width: 60%; height: 60%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                bobobobo
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.sucorinvest.com/id/" class="portfolio-box">
                    <img src="https://media.licdn.com/media/p/6/005/052/04c/0caa92c.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                sucorinvest
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="https://www.tokopedia.com/" class="portfolio-box">
                    <img src="http://i.imgur.com/EWUbeLA.png" style="width: 50%; height: 50%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                Tokopedia
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
            <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="https://sg.epicurio.co/" class="portfolio-box">
                    <img src="http://i.imgur.com/DiKbeKY.png" style="width: 60%; height: 60%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                epicurio
                            </div>
                        </div>
                    </div>
                </a>
            </div>
           
             <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.eyeindonesia.com/id/" class="portfolio-box">
                    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAM4AAAAJDRhYTEwM2UwLThmZjQtNGEyZS05YjE1LTczY2EzNWQwMTI0Yg.png" style="width: 60%; height: 60%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                eye
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://www.sukagolf.com" class="portfolio-box">
                    <img src="http://www.sukagolf.com/gambar/web/logo-sukagolf.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                sukagolf
                            </div>
                        </div>
                    </div>
                </a>
            </div>
         <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="https://naiise.com/" class="portfolio-box">
                    <img src="http://i.imgur.com/X3hpO3D.png" style="width: 50%; height: 50%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                                naiise
                            </div>
                        </div>
                    </div>
                </a>
            </div>
              <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-2">
                <a href="http://ruma.co.id/" class="portfolio-box">
                    <img src="http://i.imgur.com/EkbM8x6.png" style="width: 50%; height: 50%" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                
                            </div>
                            <div class="project-name">
                               ruma
                            </div>
                        </div>
                    </div>
                </a>
            </div>
             
             
            
           
            
        </div>
    </div>
    </center>
</section>
