<div id="myModal" class="modal" style="display: block;">

  <!-- Modal content -->
  <div class="modal-content">
    <span onclick="closeButton()" class="close">×</span>
    <p>Some text in the Modal..</p>
  	<div class="row">
      <div class="col-md-6">
        <form style="
    padding: 20px;
">
          <input type="text" placeholder="Name">
          <input type="text" placeholder="E-mail" style="
    display: block;
    width: 100%;
    margin: 10px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 1px solid #aeaeae;
">
  <textarea>  
     </textarea>
  <button style="
    display: block;
    margin: 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
">Submit</button>
</form>
      </div>
    </div>
  </div>
