
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
   $("#start-up-stage-button").hover(function(){
        $("#start-up-stage").fadeToggle();
	$("#launch-stage").fadeToggle();

    });
    $("#launch-stage-button").hover(function(){
       $("#start-up-stage").fadeToggle();
	$("#launch-stage").fadeToggle();

    });
    $("#growth-stage-button").hover(function(){
        
	   $("#growth-up-stage").fadeToggle();
	$("#mature-stage").fadeToggle(); 
	$("#mature-stage-below").fadeToggle(); 
    });
    $("#mature-stage-button").hover(function(){
;
	   $("#growth-up-stage").fadeToggle();
	$("#mature-stage").fadeToggle(); 
	$("#mature-stage-below").fadeToggle(); 
    });
	
});
</script>
	<style>
		body{
			font-family: arial,sans-serif;;
		}
		
		.client-testimonial > p
		{
			font-size:16px !important;
		}
		
		.content-fill > ul 
		{
			font-size:16px !important;
		}
		
		.data-content  ul
		{
		  margin-left:18px;
	          font-size:16px;
		}
		
		.img-logo-toolbox
		{
			transition: 0.5s;
		}
		
		
		.img-logo-toolbox:hover
		{
			-webkit-transform: scale(1.1);
          transform: scale(1.2);
		}
		
		.h1, .h2, .h3, h1, h2, h3 {
		    text-align:center;
		}
	
		p{
		font-size:18px !important;
		color:#000000!important;}
		
		.enterprise-section{
		display:flex;
		}
		
		.enterprise-icon{
		display: inline-block;
		}
		
		.enterprise-box
		{
		   padding:20px;
			margin:25px;
		}
		
		.enterprise-box:hover{
			background-color:#FFAB00;
		}
		
		.enterprise-hr{
		background-color: #fff;
		float: right;height: 1px;
		width: 72%;
		display: inline-block;
		margin-top: 35px;
		}
		
		.enterprise-body{
		text-align: justify;
		}
		
		.enterprise-body > h3{
		color: white !important;
		text-align: left;
		}
		
		.enterprise-body > p{
		color: white !important;
		}
		
		.container-step{
			margin: 0 0 20px 0;
			display:flex;
		}
		
		.advisory-right{
			margin-right:-20px;margin-left:20px;
		}
		
		#attribution{background-color:#b9ab97;}
		#modelling{background-color:#629080;}
		#webintegration{background-color:#5c6f7c;}
		#offlinetoonline{background-color:#4DB6AC;}
		#ecommercetracking{background-color:#8D6E63;}
		
		#attribution:hover{background-color:#fdcc52;}
		#modelling:hover{background-color:#fdcc52;}
		#webintegration:hover{background-color:#fdcc52;}
		#offlinetoonline:hover{background-color:#fdcc52;}
		#ecommercetracking:hover{background-color:#fdcc52;}
		
		.small-device{display:none;}
		@media screen and (max-width: 1150px) {
			.small-device{display:block;}
			.desktop-device{display:none;}
		}
		@media screen and (max-width: 1000px) {
		    .enterprise-section {
			display: block;
		    }
			
		    .enterprise-box{
			margin-top: 30px;
		     }
			
		     .container-step{
			margin:0 20px;
			display:block;
		}
			
			.advisory-right{
			margin-right:0px;margin-left:0px;
		}
			
			.advisory-container{
				margin:20px;
			}
			
			.img-step{
				width:100%;
			}
			
			.step-data{
				margin-bottom:15px;
				margin:auto;
			}
		
		}
		
		img-step:hover{
			background-color:#FFAB00l;
		}
	</style>
</head>
{% include head.html %}

<body id="page-top">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTXVM37"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% include popup_message.html %}
  {% include nav.html %}
  {% include header-services.html %}
<div class="container-fluid container-content-start" style="padding-top:40px;padding-right:0px;padding-left:0px;">
    <div style="position: relative;">
	<img src="https://www.sinorbis.com/sites/default/files/2017-04/digital-marketing-bg.jpg" style="width:100%;">
        <div class="col-md-4 desktop-device" style="position: absolute;top: 130px;color: white;left: 30px;">
 					<div class="content-start" style="text-align:justify;top: 0;top: 63px;color: white;color: white !important;font-weight: bold;">
 						<p style="color: white !important;">Whether you’re a small eCommerce startup or a digital marketplace giant, a niche fashion portal or a global cosmetic brand, a forward-thinking fintech or a traditional bank, the ability to turn data into actionable insights is a key factor in achieving your digital goals.  
 IlmuOne Data provides digital marketing, business intelligence, and analytics solutions for decision makers, senior marketers, and startup founders. </p>
 					</div>
 				   </div>
                              </div>
    
 			</div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-start small-device">
 						<p >Whether you’re a small eCommerce startup or a digital marketplace giant, a niche fashion portal or a global cosmetic brand, a forward-thinking fintech or a traditional bank, the ability to turn data into actionable insights is a key factor in achieving your digital goals.  
 IlmuOne Data provides digital marketing, business intelligence, and analytics solutions for decision makers, senior marketers, and startup founders. </p>
 					</div>
				</div>
				
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="content-start">
						<h1>Your Very Own Analytics Team</h1>
						<p>Marketing analytics and digital intelligence require a unique combo of technical skills and business acumen. Candidates with such a pedigree are rare, especially in Indonesia, and the competition to hire them is fierce.</p>
						<p>While in the future you might eventually decide to build your own analytics team, IlmuOne Data’s team is here for you today.  Instead of trying to recruit, train, and develop your own analytics team, why not leverage ours? Not only will you have access to our team of dedicated, talented, skilled individuals, you will also benefit from our broad experience of serving clients across various business models.<p>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid container-content-start">
		  <div class="content-start">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
				    
					<div class=" partner-solution">
						<h1>Your Partner for Enterprise-Level Solutions</h1>
					</div>
					<div class="row enterprise-section">
						<div class="col-md-4 enterprise-box" id="attribution">
								<div class="enterprise-header">	
									<div class="enterprise-icon">
		    								<img src="https://gcbaz.com/wp-content/uploads/2012/09/icon-loan-ribbon.png" alt="Gateway Bank">
									</div>
										<div class="enterprise-hr">
									</div>
							    	</div>
								<div class="enterprise-body">
								    <h3 >Attribution Modelling</h3>
								    <p>IlmuOne Data use data mining techniques to build attribution models that help marketing execs
									judge the consequences and opportunity costs of their spending, and help them find the optimal mix 
									that provides the best return for their marketing budget</p>
							        </div>
						</div>
						<div class="col-md-4 enterprise-box" id="modelling">
								<div class="enterprise-header">	
									<div class="enterprise-icon" style="display: inline-block;">
		    								<img src="https://gcbaz.com/wp-content/uploads/2012/09/icon-loan-ribbon.png" alt="Gateway Bank">
									</div>
										<div class="enterprise-hr" style="background-color: #fff;float: right;height: 1px;/* margin: 31px 0 0; */width: 72%;display: inline-block;margin-top: 35px;">
									</div>
							        </div>
								<div class="enterprise-body">
									<h3>Predictive Modelling</h3>
									<p>Predictive Modelling - Using raw data from Big Query, we’ve developed predictive models that allow clients to use customer and web data to predict consumer behaviour</p>						
							    </div>
							</div
						</div>
						<div class="col-md-4 enterprise-box" id="webintegration">
								<div class="enterprise-header">	
									<div class="enterprise-icon" style="display: inline-block;">
		    								<img src="https://gcbaz.com/wp-content/uploads/2012/09/icon-loan-ribbon.png" alt="Gateway Bank">
									</div>
										<div class="enterprise-hr" style="background-color: #fff;float: right;height: 1px;/* margin: 31px 0 0; */width: 72%;display: inline-block;margin-top: 35px;">
									</div>
							       </div>
								<div class="enterprise-body">
									<h3>Web and Mobile Integration</h3>
									<p>Advanced analytics and cross domain configuration to link multiple websites and properties, combining them under one easy-to-use dashboard</p>
							    </div>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="col-md-10 col-md-offset-1">
					<div class="row enterprise-section">
						<div class="col-md-4 col-md-offset-2 enterprise-box" id="offlinetoonline">
								<div class="enterprise-header">	
									<div class="enterprise-icon">
		    								<img src="https://gcbaz.com/wp-content/uploads/2012/09/icon-loan-ribbon.png" alt="Gateway Bank">
									</div>
										<div class="enterprise-hr">
									</div>
							    	</div>
								<div class="enterprise-body">
								    <h3 >Offline to Online Integration</h3>
								    <p>Integration to track offline sales to online campaigns</p>
							        </div>
						</div>					
						<div class="col-md-4 enterprise-box" id="ecommercetracking">
								<div class="enterprise-header">	
									<div class="enterprise-icon" style="display: inline-block;">
		    								<img src="https://gcbaz.com/wp-content/uploads/2012/09/icon-loan-ribbon.png" alt="Gateway Bank">
									</div>
										<div class="enterprise-hr" style="background-color: #fff;float: right;height: 1px;/* margin: 31px 0 0; */width: 72%;display: inline-block;margin-top: 35px;">
									</div>
							       </div>
								<div class="enterprise-body">
									<h3>Advanced eCommerce Tracking</h3>
									<p>Integrate POS loyalty programs, shipping costs, discounts and more into your analytics dashboard to stay on top of profit measurements</p>
							    </div>
						</div>
					</div>					
				</div>
			</div>
		</div>
			</div>
		
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="content-start">
						<h1>What Type of Data Analytics Do You Need?</h1>
<p>After years of servicing clients from a variety of business backgrounds, we find that while every client is different, they can generally be categorised into four stages.  Knowing which stage you are in your data analytics need can help you focus in developing your capabilities. The Four Stages of Data Analytics Need are STARTUP, LAUNCH, GROWTH, and MATURE.</p>
		</div>
    </div>
</div>
<div class="row">
 	<div class="col-md-10 col-md-offset-1">
		<div class="row container-step">
						<div class="col-md-5 col-md-offset-1 advisory-container">
							<div class="content-step ">
								<div id="start-up-stage-button" class="content-logo"><i class="fa fa-laptop img-step" aria-hidden="true"></i></div>
								<div class="content-fill">
									<h4  style="font-weight: bold;">STARTUP STAGE</h4>
									<p>At the the STARTUP STAGE, you need to prioritise proper implementation of</p>
									<ul>
										<li>Analytics tracking code</li>
										<li>Tag management</li>
										<li>Pixel implementation</li>
									</ul>
									<p id="start-up-stage" style="display:none;">You also need to migrate your SEO, SEM and Paid Media cost data to your analytics dashboard</p>
								</div>
							</div>
						</div>
						<div class="col-md-5 advisory-container advisory-right">
							<div class="content-step">
								<div class="content-logo" id="launch-stage-button"><i class="fa fa-play img-step" aria-hidden="true"></i></div>
								<div class="content-fill">
									<h4  style="font-weight: bold;">LAUNCH STAGE</h4>
									<p id="launch-stage" style="display:none;">Your are at this stage if you have all basic tracking tools implemented. At the LAUNCH STAGE, you have several digital campaigns running, and you’ve started to leverage partners/vendors. At this stage, you need to focus on making sure all the technical setups can withstand actual operational complexities. Ie. Put the system under a stress-test and run QA (Quality Assurance) under various scenarios.</p>
									<p >As you get ready for the next stage, also make sure that:</p>
									<ul>
										<li>External vendors analytics is integrated</li>
										<li>External vendors analytics is implemented</li>
										<li>KPIs are aligned with business goals and the overall business objective</li>
										<li>Goal tracking is set up</li>
									</ul>
								</div>
							</div>
						</div>
		</div>
		<div class="row container-step">
<div class="col-md-5 col-md-offset-1 advisory-container" >
							<div class="content-step ">
								<div class="content-logo" id="growth-stage"><i class="fa fa-chevron-circle-up img-step" aria-hidden="true"></i></div>
								<div class="content-fill">
									<h4 id="growth-stage-button" style="font-weight: bold;">GROWTH STAGE</h4>
									<p style="display: none;">You are at this stage if your goal is -- as the name suggests -- growth. At the GROWTH STAGE, all your analytic tools are already set up and tested under real-life scenarios. This stage about adding muscle to your analytics’ capabilities.</p>
									<p>At this stage, you might consider :</p>
									<ul>
										<li>Shopping cart optimisation</li>
										<li>Product list management</li>
										<li>Integration with back-end inventory</li>
										<li>Integration with front-end CRM databases</li>
									</ul>
								</div>
							</div>
						</div>
<div class="col-md-5 advisory-container advisory-right">
							<div class="content-step">
								<div class="content-logo" id="mature-stage-button"><i class="fa fa-hourglass-end img-step" aria-hidden="true"></i></div>
								<div class="content-fill">
									<h4  style="
    font-weight: bold;
">MATURE STAGE</h4>
									<p id="mature-stage" style="display:none;">You are at this stage if your focus is in getting more granular data from your data analytics. While QA of all measurements continuously run in the background, your analytics need are justifiably more sophisticated. At this stage, your focus should be on solutions such as:
			</p>
									<ul>
										<li>Cross-device attribution modelling</li>
										<li>Cross-media attribution modelling</li>
										<li>Advanced eCommerce solutions</li>
										<li>A/B testing</li>
										<li>Conversion Rate Optimisation</li>
									</ul>
									<p id="mature-stage-below" style="display:none;">IlmuOne Data has helped clients at all stages of data analytics. If you need help in identifying at which stage you are on the Four Stages of Data Analytics, give us a call. Our team of experts are ready to help.</p>
								</div>
							</div>
						</div>
	</div>
</div>

					</div>
			</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="content-start">
						
						<h1>ILMUONE DATA ADVISORY PROCESS</h1>
						<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="#data-audit"><div class="col-md-3 text-center"><div class="step-data" href="#data-audit"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/591024-200.png" style="height:50px;width:50px;"/></div><p>Data Audit</p></div></a>
							<a href="#data-insight"><div class="col-md-3 text-center" href="#data-insight"><div class="step-data" href="#data-audit"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/191834-200.png" style="height:50px;width:50px;"/></div><p>Data Insight</p></div></a>
							<a href="#data-optimation"><div class="col-md-3 text-center" href="#data-optimation"><div class="step-data" href="#data-audit"><img src="http://icons.iconarchive.com/icons/iconsmind/outline/512/Optimization-icon.png" style="height:50px;width:50px;"/></div><p>Data Optimation</p></div></a>
							<a href="#data-iteration"><div class="col-md-3 text-center" href="#data-iteration"><div class="step-data" href="#data-audit"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/97705-200.png" style="height:50px;width:50px;"/></div><p>Data Iteration</p></div></a>
  </div>
							</div>		
						
					</div>
						<div class="data-content " id="data-audit">
						  <div class="row container-content-start" style="padding:60px 0 60px 0;">
					          
						    <div class="col-md-10 col-md-offset-1">
						      <div class="col-md-6 text-center">
								<img src="/img/dataaudit.gif"  class="img-data">
						      </div>
						       <div class="col-md-6">
							   <h2 class="text-left">Data Audit</h2>
						           <p>IlmuOne Data Advisory team checks the current analytics setup, the quality of data that is collected, and whether or not analytics framework and KPI’s are aligned with business goals. Data Audit includes but is not limited to:</p>
						           <ul>
							      <li>Campaign tagging practices (social media, email, affiliate, and referral tracking)</li>
								<li>Custom Tag naming conventions </li>
							        <li>On-site campaign tracking and reporting</li>
								<li>Audience segmentations</li>
								<li>Product Performance</li>
								<li>Attribution model configurations</li>
							   </ul>
						       </div>
						      </div>
						     </div>
						</div>
						<div class="data-content" id="data-insight">
						  <div class="row" style="padding:60px 0 60px 0;">
					             <div class="col-md-10 col-md-offset-1">
						      <div class="col-md-6">
							   <h2 class="text-left">Data Insight</h2>
							   <p>Based on DATA AUDIT findings, IlmuOne Data Advisory team develops analytics best-practices guide and start to test hypotheses on ways to improve our client’s digital marketing performance.  The scope of experiments could include but not limited to:</p>
							   <ul>
							     <li>Campaign tagging practices (social media, email, affiliate, and referral tracking)</li>
							     <li>Custom Tag naming conventions </li>
							     <li>On-site campaign tracking and reporting</li>
							     <li>Audience segmentations</li>
						             <li>Product Performance</li>
						             <li>Attribution model configurations</li>
							   </ul>
						      </div>
						       <div class="col-md-6 text-center">
							   <img src="/img/datainsight.gif"  class="img-data">
						       </div>
						      </div>
						     </div>
						</div>
						<div class="data-content" id="data-optimation">
						  <div class="row container-content-start" style="padding:60px 0 60px 0;">
						     <div class="col-md-10 col-md-offset-1">
						      <div class="col-md-6 text-center">
								<img src="/img/dataoptimation.gif"  class="img-data">
						      </div>
						       <div class="col-md-6">
							   <h2 class="text-left">Data Optimation</h2>
							    <p>IlmuOne Data Advisory team implement and further refine DATA INSIGHTS findings.  Client can expect performance lift in media and channel mix.  Optimisation could include but is not limited to:</p>
							    <ul>
								<li>On-site user behaviour </li>
								<li>Customer segmentations</li>
								<li>Cohort analysis</li>
							    </ul>
						       </div>
						      </div>
						     </div>
						</div>
						<div class="data-content" id="data-iteration">
						  <div class="row" style="padding:60px 0 60px 0;">
						    <div class="col-md-10 col-md-offset-1">
						      <div class="col-md-6">
							  <h2 class="text-left">Data Iteration</h2>
							<P>IlmuOne Data Advisory team develop and implement internal best practices for our client to ensure measurable, sustained performance improvement


Find out how IlmuOne Data can help you achieve your digital marketing, business intelligence, and analytics goals. Contact us to see if you qualify for our free mini-audit.
</p>					
							<ul>
								<li>Enhanced media plans</li>
								<li>Sharper audience targeting</li>
								<li>Improved budget forecasting</li>
							</ul>
						      </div>
						       <div class="col-md-6 text-center">
							   <img src="/img/dataiteration.gif" class="img-data">
						       </div>
						      </div>
						     </div>
						</div>
						
																			
					</div>
				</div>
			</div>
		</div>
</body>
	<script rel="stylesheet" href="/vendor/popup-query.js" type="text/css"></script>

</html>
